@font-face {
  font-family: JuliaMono-Regular;
  src: url('https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2');
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  min-height: 100%;
}
body {
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  scroll-behavior: smooth;
  font-size: 2rem;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main,
footer,
header,
hr {
  max-width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.6rem;
}
small {
  font-size: 1.6rem;
  font-style: italic;
}
small,
p {
  font-family: Tahoma, Arial, sans-serif;
}
p {
  font-size: 1.8rem;
}
pre.sourceCode,
pre.Agda,
code,
div.MathJax_Display {
  font-family: JuliaMono-Regular;
  overflow-y: scroll;
}
