@font-face {
  font-family: JuliaMono-Regular;
  src: url('https://cdn.jsdelivr.net/gh/cormullion/juliamono/webfonts/JuliaMono-Regular.woff2');
}

:root {
  font-size: 62.5%;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  font-family: JuliaMono-Regular;
  min-height: 100vh;
}
body {
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  scroll-behavior: smooth;
  font-size: 2rem;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.6rem;
}
small {
  font-size: 1.6rem;
  font-style: italic;
}
p {
  font-size: 1.8rem;
}
pre.sourceCode {
  padding: 2rem 1.5rem;
}
